:root {
  --title-distance-shadow: 14px;
}

[data-block-script] {
  pointer-events: none;
  white-space: break-spaces;
}

[data-block-script]::before {
  content: attr(data-block-script);
}

[data-placeholder] {
  display: none;
}

.z-1 {
  width: 17rem;
  height: 52px;
}
